.search-results {
  height: 100vh;
}

.results-header {
  margin: 45px 0px;
}

.back-to-search-button {
  float: left;
  padding: 10px;
}

.no-results {
  text-align: center;
  height: 100%;
}

h1 {
  color: #d94c53;
  margin-left: 180px;
}
