.colour-list {
  float: left;
  width: 35%;
  height: auto;
  min-width: 350px;
  height: 630px;
}

.colour-header {
  font-weight: bold;
  color:  #d94c53;
  text-decoration: underline;
}

.colour-section {
  border: none;
  width: 350px;
}

.colour-block {
  width: 36px;
  height: 36px;
  margin-right: 5px;
  display: inline-block;
  cursor: pointer;
}

.colour-block:focus {
  outline: none;
}

.selected-colour-block {
  border: 2px solid #d94c53;
}

.colour-pagination {
  padding-top: 10px;
}

.colour-paginator {
  background-color: #f2545b;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 5px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
}

.colour-paginator:focus {
  outline: none;
}

.colour-paginator:active {
  background-color: #d94c53;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24), 0 4px 12px 0 rgba(0,0,0,0.19);
  transform: translateY(2px);
}

.colour-paginator:hover {
  background-color: #d94c53;
}

.more-paginator {
  float: right;
  margin-right: 28px;
}

.paginator-disabled {
  display: none;
}
