.price-range, .rating-range {
  float: left;
  width: 40%;
  height: auto;
}

.range {
  float: left;
  height: 80px;
  width: 100%;
  background-color: #f2545b;
  color: #fff;
  padding: 0% 2%;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 10px 25px 0 rgba(0,0,0,0.19);
}
