.make-up-type {
  width: 150px;
  height: 150px;
  margin: 10px;
  background-color: #fff;
  border: 2px solid #fdedee;
  display: inline-block;
  position: relative;
}

.selected-make-up-type {
  border: 2px solid #f2545b;
}

.type-img {
  width: 100%;
  height: 100%;
  border: none;
}

.type-img:focus {
  outline: 0;
}

.type-text {
    z-index: 1;
    position: absolute;
    bottom: 2px;
    margin-left: 10px;
}
