.make-up-ranges {
  flex-grow: 1;
  height: auto;
  width: 250px;
}

.range {
  margin-bottom: 20px;
  height: 100px;
  width: 100%;
  background-color: #f2545b;
  color: #fff;
  padding: 10px;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 10px 25px 0 rgba(0,0,0,0.19);
}
