.colour-list {
  flex-grow: 1;
  min-width: 200px;
}

.colour-header {
  font-weight: bold;
  color:  #d94c53;
  text-decoration: underline;
}

.colour-section {
  border: none;
  width: 350px;
}

.colour-block {
  width: 36px;
  height: 36px;
  margin-right: 5px;
  display: inline-block;
  cursor: pointer;
}

.colour-block:focus {
  outline: none;
}

.selected-colour-block {
  border: 2px solid #d94c53;
}

.colour-pagination {
  padding-top: 10px;
}

.colour-paginator {
  width: 40px;
  padding: 5px;
}

.more-paginator {
  float: right;
  margin-right: 28px;
}

.paginator-disabled {
  display: none;
}
