.back-to-search-button {
  border: none;
  padding: 10px;
  background-color: #f2545b;
  color: #fff;
  font-weight: bold;
  border: none;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 10px 25px 0 rgba(0,0,0,0.19);
}

.back-to-search-button:hover {
  background-color: #d94c53;
}

.back-to-search-button:focus {
  outline: none;
}

.back-to-search-button:active {
  background-color: #d94c53;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24), 0 4px 12px 0 rgba(0,0,0,0.19);
  transform: translateY(2px);
}

.search-results {
  text-align: center;
}
