.product-info-modal {
  background-color: #fff;
  width: 50%;
  height: 50%;
  min-width: 500px;
  min-height: 500px;
  margin: 0 auto;
  margin-top: 50px;
}

.product-info-modal:focus {
  outline: 0;
}

.modal-name {
    float: left;
    max-width: 445px;
    padding-left: 10px;
}

.close-button {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

.modal-body {
  float: left;
  width: 90%;
  margin-top: 20px;
}

.modal-product-img {
  height: 200px;
  width: 150px;
  float: left;
  padding-left: 20px;
}
