.result-item {
  width: 250px;
  display: inline-block;
  position: relative;
  padding-bottom: 20px;
}

.product-img {
  max-width: 200px;
  max-height: 200px;
  size: 100%;
}

.product-name {
  font-size: small;
  height: 50px;
  z-index: 5;
  display: flex;
  margin: 0px 50px;
}
